html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input, button {
  outline: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

a {
  color: inherit;
  text-decoration: none;
}

@font-face {
  font-family: 'Bahnschrift';
  src: url("../fonts/Bahnschrift.woff2");
}

body {
  font-family: 'Bahnschrift', sans-serif;
  color: white;
  background-color: #A3C2D1;
}

:focus, button:focus {
  outline: none;
}

button {
  cursor: pointer;
}

.container {
  margin: 0 20px;
}

.title {
  padding: 4px 30px;
  font-size: 1em;
  color: #1A1736;
  position: relative;
}

.title:before {
  content: '';
  display: block;
  position: absolute;
  background-color: #1A1736;
  height: 8px;
  width: 100%;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.title__span {
  padding: 0 5px;
  background: #A3C2D1;
  z-index: 1;
  position: relative;
}

.header {
  padding: 8px 0;
  background-color: #1A1736;
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-btn {
  margin-right: 15px;
  padding: 0;
  border: none;
  background: none;
}

.nav-btn span {
  width: 28px;
  height: 3px;
  display: block;
  background: #fff;
  border-radius: 2px;
}

.nav-btn span:not(:last-child) {
  margin-bottom: 3px;
}

.general-scheme__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.general-scheme__img-wrapper {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.general-scheme__img {
  width: 100%;
  display: block;
}

.abbrs-list {
  padding: 10px 0;
  background-color: #1A1736;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.abbrs-list__item {
  font-size: 1.5em;
  font-family: inherit;
  padding: 10px 25px 10px 10px;
  display: block;
  background: none;
  border: none;
  color: #fff;
  position: relative;
}

.abbrs-list__item:not(:last-child) {
  margin-bottom: 8px;
}

.abbrs-list__item:not(:last-child)::after {
  content: '';
  display: block;
  position: absolute;
  background-color: #fff;
  width: calc(100% - 30px);
  height: 3px;
  bottom: -5px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.abbrs-list__item:before {
  content: '';
  position: absolute;
  display: block;
  background: url(../img/right-arrow.svg) center center no-repeat;
  width: 15px;
  height: 15px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 5px;
}
