html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input, button {
  outline: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

a {
  color: inherit;
  text-decoration: none;
}

@font-face {
  font-family: 'Bahnschrift';
  src: url("../fonts/Bahnschrift.woff2");
  font-display: swap;
}

body {
  font-family: 'Bahnschrift', sans-serif;
  color: white;
  background-color: #A3C2D1;
}

:focus, button:focus {
  outline: none;
}

button {
  cursor: pointer;
}

.container {
  margin: 0 20px;
}

@media (max-width: 1365px) {
  .container {
    margin: 0 10px;
  }
}

.title {
  padding: 4px 30px;
  min-height: calc(1em + 5px * 2);
  font-size: 1em;
  color: #1A1736;
  position: relative;
}

.title::before {
  content: '';
  display: block;
  position: absolute;
  background-color: #1A1736;
  height: 8px;
  width: 100%;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.title__span {
  padding: 0 5px;
  background: #A3C2D1;
  z-index: 1;
  position: relative;
}

.accent-btn {
  background-color: #F58220;
  border: none;
  font-family: inherit;
}

.accent-btn:hover, .accent-btn:active {
  background-color: #f8ab69;
}

.wrapper {
  padding-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
}

@media (max-width: 1365px) {
  .wrapper {
    padding-bottom: 10px;
  }
}

.svg-path-btn {
  fill: transparent;
  cursor: pointer;
}

.svg-path-btn:hover {
  fill: rgba(255, 0, 0, 0.5);
}

.header {
  padding: 12px 0;
  background-color: #1A1736;
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-btn {
  margin-right: 15px;
  padding: 0;
  border: none;
  background: none;
}

.nav-btn span {
  width: 28px;
  height: 3px;
  display: block;
  background: #fff;
  border-radius: 2px;
}

.nav-btn span:not(:last-child) {
  margin-bottom: 3px;
}

.abbr-item {
  font-size: 1.5em;
  font-family: inherit;
  display: block;
  background: none;
  border: none;
  color: #fff;
  position: relative;
}

.abbr-item::after {
  content: '';
  display: block;
  position: absolute;
  background-color: #fff;
  width: calc(100% - 30px);
  height: 3px;
}

.abbr-item::before {
  content: '';
  position: absolute;
  display: block;
  background: url(../img/right-arrow.svg) center center no-repeat;
  width: 15px;
  height: 15px;
}

@media (max-width: 1365px) {
  .abbr-item {
    font-size: 1.2em;
  }
  .abbr-item::before {
    width: 12px;
    height: 12px;
  }
}

.abbrs-list {
  padding: 10px 0;
  background-color: #1A1736;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.abbrs-list__item {
  padding: 10px 20px 10px 10px;
}

.abbrs-list__item:not(:last-child) {
  margin-bottom: 8px;
}

.abbrs-list__item:last-child::after {
  content: none;
}

.abbrs-list__item::before {
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 5px;
}

.abbrs-list__item::after {
  bottom: -5px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.general-scheme__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 50vh;
}

@media (max-width: 1365px) {
  .general-scheme__content {
    min-height: auto;
  }
}

.general-scheme__img-container {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  position: relative;
  background-color: #34344C;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.general-scheme__img-wrapper {
  position: relative;
}

.general-scheme__img-svg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.general-scheme__img {
  max-width: 100%;
  display: block;
}

.general-scheme__img-abbr {
  font-size: 1.7em;
  padding: 5px 11px;
  position: absolute;
  right: 1.5%;
  top: 23%;
  text-align: center;
}

@media (max-width: 1365px) {
  .general-scheme__img-abbr {
    font-size: 1.2em;
    padding: 3px 7px;
    top: 27%;
  }
}

.general-scheme__img-abbr::before {
  bottom: -10px;
  left: 50%;
  -webkit-transform: translateX(-50%) rotate(90deg);
          transform: translateX(-50%) rotate(90deg);
}

.general-scheme__img-abbr::after {
  width: 100%;
  left: 0;
  bottom: -16px;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.info {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 1365px) {
  .info {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.info-number-big {
  font-size: 1.7em;
}

.calculator {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.calculator__content-row {
  margin: 0 7px 0 20px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #1A1736;
  border: 9px solid #34344C;
}

.calculator__content-item {
  padding: 0 3px 3px;
  max-width: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.calculator__content-item:first-child {
  border-right: 9px solid #34344C;
}

.calculator__content-item-inner {
  padding: 10px 10px 3px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.calculator__select {
  margin-left: 5px;
  min-width: 47px;
  text-align-last: right;
  font-family: inherit;
  font-size: 0.7em;
}

.calculator__text-item {
  margin-bottom: 8px;
}

.calculator__item-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.calculator__text-small {
  font-size: 0.7em;
}

.calculator__btn {
  padding: 8px 2px 5px;
  border-radius: 8px;
}

@media (max-width: 1365px) {
  .calculator__content-row {
    margin-left: 10px;
    margin-right: 10px;
  }
}

@media (max-width: 1024px) {
  .calculator {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .calculator__content-item {
    max-width: none;
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
}

.detailed-data-title {
  font-size: 0.8em;
  color: #fff;
}

.detailed-data {
  -ms-flex-preferred-size: 0;
      flex-basis: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.detailed-data__content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.detailed-data__info {
  margin-right: 7px;
  background-color: #1A1736;
  padding: 5px 10px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.detailed-data__scheme-block {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.detailed-data__scheme {
  max-width: 240px;
  display: block;
}

.detailed-data__scheme-block {
  margin-right: 15px;
}

.detailed-data__scheme-wrapper {
  position: relative;
}

.detailed-data__scheme-title {
  margin-bottom: 3px;
  text-align: center;
}

.detailed-data__scheme-svg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.detailed-data__buttons {
  padding-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.detailed-data__button {
  white-space: nowrap;
  border-radius: 6px;
}

.detailed-data__button:not(:last-child) {
  margin-bottom: 10px;
}

.detailed-data__params {
  margin-right: 7px;
}

.detailed-data__docs {
  margin-right: 20px;
}

@media (max-width: 1365px) {
  .detailed-data {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .detailed-data__content {
    margin-right: 10px;
  }
  .detailed-data__params {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    margin-right: 0;
  }
  .detailed-data__scheme {
    max-width: 225px;
  }
}

@media (max-width: 1024px) {
  .detailed-data__content {
    margin: 0 10px;
  }
}

.params {
  padding: 6px 10px;
  min-width: 140px;
  background-color: #1A1736;
}

.params__title {
  margin-bottom: 10px;
}

.params__text {
  margin-bottom: 3px;
  font-size: 0.7em;
}

.docs {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.docs__content {
  margin-right: 20px;
  padding: 15px 15px 25px;
  background-color: #34344C;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.docs__heading {
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.docs__logo {
  max-width: 80px;
}

.docs__title {
  border-left: 5px solid #fff;
  margin-left: 7px;
  padding-left: 7px;
  padding-top: 3px;
  font-size: 1.1em;
}

.docs__list-wrapper {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  position: relative;
}

.docs__list {
  padding-right: 10px;
  position: absolute;
  width: 100%;
  max-height: 100%;
  overflow-y: scroll;
}

.docs__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 0.9em;
}

.docs__item:not(:last-child) {
  margin-bottom: 8px;
}

.docs__item-date {
  margin-left: 15px;
  padding: 2px 0 0 12px;
  line-height: 0.7;
  min-width: 66px;
  border-left: 4px solid #fff;
}

@media (max-width: 1365px) {
  .docs {
    margin: 10px 10px 0;
    min-width: 50%;
  }
  .docs__content {
    margin: 0;
  }
  .docs__line-title {
    display: none;
  }
  .docs__list {
    position: static;
    overflow-y: visible;
  }
}
